:root {
    --color-text: #464255;
    --color-text-grey: #797878d2;
    --color-background-light: #fff;
    --color-background: #f9f9f9;
    --primary-color: #F6B17A;
    --secondary-color: #9A9A9A;
    --bs-primary-rgb: #F6B17A;
    --bs-link-color: #F6B17A;
    --bs-link-hover-color: #F6B17A;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: 'Nunito';
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
    width: 100%;
    padding-left: 2px;
}

#sidebar {
    min-width: 270px;
    max-width: 270px;
    background: var(--color-background-light);
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: relative;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
    background: var(--color-background);
}

.content {
    padding-top: 4px;
}

#sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 0;
    margin-right: -25px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

#sidebar .custom-menu .btn {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 7px solid var(--color-background);
    padding: inherit;
}

#sidebar .sidebar-nav {
    padding: 0px !important;
    margin-top: -10px;
}

a.sidebar-link {
    padding: 0.5rem 0rem;
    position: relative;
    display: block;
    font-size: 13px;
    color: var(--color-text-grey);
    text-decoration: none;
    font-weight: 500;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: .9rem;
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(-45deg);
    transition: all .2s ease-out;
}

.sidebar-item li {
    padding-left: 1.9rem;
}

.sidebar-item a {
    margin-left: 1.8rem;
    margin-right: 1.5rem;
    padding-left: 0.5rem;
}

.sidebar-link svg {
    margin-top: -2px;
}

.sidebar-link span {
    font-size: 16pt;
    font-weight: 600;
    font-family: 'Nunito';
}

.sidebar-link i {
    font-size: 16pt;
}

.sidebar-item.active a {
    background-image: linear-gradient(to right, var(--color-background-light), var(--color-background-light), #f6b27a81);
    color: var(--primary-color);
    border-radius: 5px;
    width: 88%;
}

.sidebar-item:hover>a {
    color: var(--primary-color);
    border-radius: 5px;
}

li .sidebar-item.active a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0.25rem;
    bottom: 0.25rem;
    width: 3px;
    background: var(--color-background);
}

nav {
    height: 72px;
    background-color: var(--color-background-light) !important;
    /* border-radius: 10px; */
    /* margin-top: .3rem; */
}

.nav-item img {
    width: 3rem !important;
    height: auto;
    position: relative;
    z-index: 3;
}

.dropdown-toggle::after {
    margin-left: -10px;
}

.dropdown-toggle.show::after {
    content: " ";
    width: 2.5rem;
    height: 2.5rem;
    top: 0.29rem;
    z-index: 1;
    left: 14px;
    opacity: 1;
    position: absolute;
    background: #dae1e8;
    border-radius: 50%;
    transition: all 100ms ease-in;
    border-top: unset !important;
}

ul.dropdown-menu {
    width: 275px;
    border: 0;
    border-radius: 0.3rem;
}

.dropdown-header.bg-trans-gradient {
    padding: 1.25rem 1.5rem;
}

.dropdown-header {
    margin-top: -7px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.dropdown-divider {
    height: 0;
    margin: 0;
    overflow: hidden;
    border-top: 1px solid var(--bs-dropdown-divider-bg);
    opacity: 1;
}

.dropdown-item {
    font-size: 13px;
    color: var(--secondary-color)
}

.info-card-text {
    font-size: 0.875rem;
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    line-height: 1.35;
}

.text-truncate-lg {
    max-width: 200px;
}

.text-truncate-md {
    max-width: 160px;
}

.logout {
    margin-bottom: -7.8px;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    height: 42px;
}

.logout a {
    margin-bottom: -7.8px;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    height: 42px;
    padding-top: 10px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #e9f7f8;
}

.badge {
    font-size: 10px;
    margin-top: 13px;
}

.btn-primary {
    background-color: #df873f !important;
    border-color: #df873f;
    color: white;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #4b3307 !important;
    border-color: #4b3d1e;
}

.text-primary {
    color: var(--primary-color) !important;
}

.paginate_button.page-item.active a.page-link {
    background-color: #df873f !important;
    border-color: #df873f !important;
}
